<!-- templates/transactions.html -->
{% extends 'base.html' %}

{% block title %}Начало{% endblock %}

{% load static %}
<!-- starting of the transactions page-->
{% block content %}
<div class="px-5 py-2">
    <table class="container-fluid my-table table-bordered text-center table-responsive table-hover">
        <thead class="thead-dark bg-light bg-gradient">
        <tr>
            <th scope="col">Вид на транзакция</th>
            <th scope="col">Дата</th>
            <th scope="col">Монета</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody id="myTable">
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.coin_name }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.price_when_bought }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}